<section class="about-me" id="about">
    <div class="about-me-portrait">
        <img src="assets/profile/Sebastian-Mucha.png" alt="Portrait von Sebastian Mucha">
    </div>

    <div class="about-me-content">
        <span class="about-me-eyebrow">Who I Am</span>

        <div class="about-me-box">
            <h2 class="about-me-title">About me</h2>

            <p class="about-me-text">
                Hey there, I'm Lukas! Write some information about yourself that is IT related.
                Why are you passionate about coding? What is your source of inspiration for
                improving your programming skills?
            </p>

            <ul class="about-me-highlights">
                <li>
                    <img src="assets/icons/14. About me Highlights icons.png" alt="">
                    <span>Where are you based? Would you be open to working remotely or potentially relocating?</span>
                </li>
                <li>
                    <img src="assets/icons/15. About me Highlights icons.png" alt="">
                    <span>Show that you are open-minded. Are you enthusiastic about learning new technologies
                        and continually improving your skills?</span>
                </li>
                <li>
                    <img src="assets/icons/16. About me Highlights icons.png" alt="">
                    <span>A brief description of your problem-solving approach. Do you learn from each challenge
                        as you search for the most efficient or elegant solution? You can include some keywords
                        like: analytical thinking, creativity, persistence and collaboration.</span>
                </li>
            </ul>
        </div>
    </div>
</section>
