<header class="header">
    <nav class="navbar">
        <div class="nav-left">

            <div class="language-switch">
                @for (lang of languages; track lang) {
                    <button class="language" [class.active]="language() === lang" (click)="setLanguage(lang)">
                        {{ lang }}
                    </button>
                }
            </div>
            <div class="nav-links">
                <a routerLink="/" fragment="about">{{ t().header.aboutMe }}</a>
                <a routerLink="/" fragment="skills">{{ t().header.skills }}</a>
                <a routerLink="/" fragment="projects" class="active-link">
                    {{ t().header.projects }}
                    <span class="active-dot"></span>
                </a>
            </div>
        </div>

        <a routerLink="/" class="logo">
            <img class="logo-normal" src="assets/icons/Sebastian Mucha Logo mit Monogramm.png" alt="Sebastian Mucha">
            <img class="logo-hover" src="assets/icons/Sebastian Mucha Logo mit Monogramm.png" alt="">
        </a>

        <svg class="logo-filter" aria-hidden="true">
            <filter id="logo-outline">
                <feMorphology in="SourceAlpha" operator="erode" radius="1" result="inside" />
                <feComposite in="SourceGraphic" in2="inside" operator="out" />
            </filter>
        </svg>

    </nav>
</header>