<header class="header">
    <nav class="navbar">
        <div class="nav-left">

            <div class="language-switch">
                <button class="language" [class.active]="language() === 'EN'" (click)="setLanguage('EN')">
                    EN
                </button>
                <button class="language" [class.active]="language() === 'DE'" (click)="setLanguage('DE')">
                    DE
                </button>

            </div>
            <div class="nav-links">
                <a href="#about">{{ t().header.aboutMe }}</a>
                <a href="#skills">{{ t().header.skills }}</a>
                <a href="#projects" class="active-link">
                    {{ t().header.projects }}
                    <span class="active-dot"></span>
                </a>
            </div>
        </div>

        <a href="#" class="logo">
            <img class="logo-normal" src="assets/icons/4. Logo.png" alt="Lukas Müller">
            <img class="logo-hover" src="assets/icons/4. Logo.png" alt="">
        </a>

    </nav>
</header>